# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/

# Stata
*.log

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz

# OS / editor
.DS_Store
Thumbs.db
.vscode/
